h3 {
  margin: 0;
}

.header-container {
  align-content: center;
  position: relative;
  background-color:#fff!important;
  color:rgba(0,0,0,.87)!important;
  box-shadow: 0 2px 1px -1px rgba(109,173,216,.2), 0 1px 11px 3px rgba(60,117,155,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  height: 50px;
  max-height: 50px;
}

img {
  width: 50px;
  height: 50px;
  margin-top: 6px;
}
