<div class="header-container" fxLayout="row">
  <div class="header-text-container" fxFlex="row" fxLayout="row">
    <img src="../../../assets/header-icon.png" alt="">
    <h4>FLIGHT FINDER</h4>
  </div>
</div>
