<mat-drawer-container class="example-container">
  <mat-drawer-content style="justify-content: center; margin-top: 1%" fxFlex="80" fxLayout="row">
    <mat-card fxFlex="35" class="mat-cord-content-left-side">
      <mat-tab-group (selectedTabChange)="clearAll()">

        <mat-tab label="One way">
          <mat-card-content fxLayout="column">

            <form fxFlex="100" fxLayout="row">
              <h4 fxFlex="40">Flight Number: </h4>
              <mat-form-field fxFlex="60">
                <input [(ngModel)]="criteria.flightNumber" name="Flight Number"
                       matInput #message maxlength="4" onkeyup = 'this.value=parseInt(this.value) | 0' placeholder="Flight number">
                <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="criteria.flightNumber=null">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-hint align="end">{{message.value.length}} / 4</mat-hint>
              </mat-form-field>
            </form>
            <br>
            <div *ngIf="true; then originAndDestinationTemplate"></div><br>
            <div *ngIf="true; then departureDateTemplate"></div><br>
            <button mat-raised-button color="primary" (click)="clickOnSearchButton(criteria)">SEARCH</button>
          </mat-card-content>
        </mat-tab>

        <mat-tab label="Return">
          <br>
          <mat-card-content fxLayout="column">
            <div *ngIf="true;then originAndDestinationTemplate"></div><br>
            <div *ngIf="true;then departureDateTemplate"></div><br>
            <div fxFlex="100" fxLayout="row">
              <h4 fxFlex="40">Return date: </h4>
              <mat-form-field fxFlex="60">
                <input [matDatepickerFilter]="departureFilter" [(ngModel)]="criteria.returnDate" matInput [matDatepicker]="pickerReturnDate"
                       placeholder="Choose a return date">
                <mat-datepicker-toggle matSuffix [for]="pickerReturnDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerReturnDate></mat-datepicker>
              </mat-form-field>
            </div>
            <button fxFlex="100" mat-raised-button color="primary" (click)="clickOnSearchWithReturnWayButton(criteria)">
              SEARCH
            </button>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>

    <mat-card *ngIf="searchedResultFlights && searchedResultFlights.length > 0"
              fxFlex="50" class="mat-cord-content-right-side">
      <mat-card-content *ngFor="let result of searchedResultFlights">
        <app-one-way-flight-description-card-component
          [searchedResult]="result"></app-one-way-flight-description-card-component>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="searchedResultFlightsWithReturnWay && searchedResultFlightsWithReturnWay.size > 0"
              fxFlex="50" class="mat-cord-content-right-side">
      <mat-card-content *ngFor="let entry of searchedResultFlightsWithReturnWay.entries()">
        <app-return-way-flight-description-card-component
          [entry]="entry"></app-return-way-flight-description-card-component>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="searchedResultFlights && searchedResultFlights.length === 0
    && searchedResultFlightsWithReturnWay && searchedResultFlightsWithReturnWay.size === 0"
              fxFlex="50" class="mat-cord-content-right-side">
      No matches found
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>


<ng-template #originAndDestinationTemplate>

  <div fxFlex="100" fxLayout="row">
    <h4 fxFlex="40">Origin City: </h4>
    <mat-form-field fxFlex="60">
      <mat-label>Origin city</mat-label>
      <mat-select [value]="criteria.origin" (selectionChange)="changeChosenOrigin($event.value)">
        <mat-option *ngFor="let city of originsOrDestinationsEnum" [value]="city.value">
          {{city.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br>

  <div fxFlex="100" fxLayout="row">
    <h4 fxFlex="40">Destination city: </h4>
    <mat-form-field fxFlex="60">
      <mat-label>Destination city:</mat-label>
      <mat-select [value]="criteria.destination" (selectionChange)="changeChosenDestination($event.value)">
        <mat-option *ngFor="let city of originsOrDestinationsEnum" [value]="city.value">
          {{city.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #departureDateTemplate>
  <div fxFlex="100" fxLayout="row">
    <h4 fxFlex="40">Departure date: </h4>
    <mat-form-field fxFlex="60">
      <input  [matDatepickerFilter]="departureFilter" [(ngModel)]="criteria.departureDate" matInput [matDatepicker]="pickerDepartureDate"
             placeholder="Choose a departure date">
      <mat-datepicker-toggle matSuffix [for]="pickerDepartureDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerDepartureDate></mat-datepicker>
    </mat-form-field>
  </div>
</ng-template>
<button (click)="clearAll()">Click</button>
