.mat-drawer-container {
  z-index: 0;
  height: 100%;
  background-image: url(../../../assets/yZYef.gif);
}

.mat-cord-content-left-side {
  /*margin-left: 15%;*/
  margin-top: 3%;
  max-height: 60%;
}
.mat-cord-content-right-side {
  margin-left: 1%;
  margin-top: 3%;
  min-width: 35%;
  max-height: 80%;
  overflow-y: scroll;
}

mat-tab-group {
  font-size: 14px;
}

@media (max-width: 850px) {
  .mat-cord-content-left-side {
    overflow-y: scroll;
  }
}
mat-drawer-content{
  justify-content: center;
  margin-top: 1%;
  margin: auto;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  max-width: 80%;
}
