<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><h5><b>Flight number: {{searchedResult.flightNumber}}</b></h5></mat-card-title>
    <mat-card-subtitle><h5><b>Departure: {{searchedResult.departure}}</b></h5></mat-card-subtitle>
    <mat-card-subtitle><h5>Arrival: {{searchedResult.arrival}}</h5></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="row">
    <div fxFlex="50">
      <p><b>Carrier: </b>{{searchedResult.carrier}}</p>
      <p><b>Origin: </b>{{searchedResult.origin}}</p>
    </div>
    <div fxFlex="50">
      <p><b>Destination: </b> {{searchedResult.destination}}</p>
      <p><b>Aircraft: </b>{{searchedResult.aircraft}}</p>
      <p><b>Distance: </b>{{searchedResult.distance}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="row">
    <p fxFlex="50"><b>TravelTime: </b>{{searchedResult.travelTime}}</p>
    <p fxFlex="50"><b>Status: </b>{{searchedResult.status}}</p>
  </mat-card-actions>
</mat-card>
