.example-card {
  max-width: 100%;
  border-bottom: 1px solid blue;
  margin-bottom: 2%;
}

.example-header-image {
  background-image: url('../../../assets/header-icon.png');
  background-size: cover;
}
