<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
  </mat-card-header>
  <mat-card-content fxLayout="row">
    <div fxFlex="50" fxLayout="column">
      <h4>TO:</h4>
      <h5>Flight number:{{entry[0].flightNumber}}</h5>
      <h5>Departure:{{entry[0].departure}}</h5>
      <h5>Arrival:{{entry[0].arrival}}</h5>
      <p><b>Carrier: </b>{{entry[0].carrier}}</p>
      <p><b>Origin: </b>{{entry[0].origin}}</p>
      <p><b>Destination: </b> {{entry[0].destination}}</p>
      <p><b>Aircraft: </b>{{entry[0].aircraft}}</p>
      <p><b>Distance: </b>{{entry[0].distance}}</p>
      <p fxFlex="50"><b>TravelTime: </b>{{entry[0].travelTime}}</p>
      <p fxFlex="50"><b>Status: </b>{{entry[0].status}}</p>
    </div>
    <div fxFlex="50" fxLayout="column">
      <h4>BACK:</h4>
      <h5>Flight number: {{entry[1].flightNumber}}</h5>
      <h5>Departure: {{entry[1].departure}}</h5>
      <h5>Arrival: {{entry[1].arrival}}</h5>
      <p><b>Carrier: </b>{{entry[1].carrier}}</p>
      <p><b>Origin: </b>{{entry[1].origin}}</p>
      <p><b>Destination: </b> {{entry[1].destination}}</p>
      <p><b>Aircraft: </b>{{entry[1].aircraft}}</p>
      <p><b>Distance: </b>{{entry[1].distance}}</p>
      <p fxFlex="50"><b>TravelTime: </b>{{entry[1].travelTime}}</p>
      <p fxFlex="50"><b>Status: </b>{{entry[1].status}}</p>
    </div>
  </mat-card-content>
</mat-card>
